[2014-03-12 22:28] Zequez opened #1 "When I start the app I don't get any output, just a blank terminal"
I thought I should let you know. Although I really don't know what kind of information could I add for you to debug the issue. I'm running Windows 8, iTunes is installed and the mobile device services is running. I already tried to run the binary with Windows 7 compatibility.

[2014-04-06 17:12] #1 closed, assigned to nobody

[2014-06-06 16:25] alteredq opened #2 "Application fails with "Could not start com.apple.webinspector" error message"
I tried to run precompiled binary from SourceForge but I'm getting just these error messages in the console:

[code]

I'm on Windows 7, my device is iPad 3 with iOS 8 beta 1.

I do have iTunes installed and Apple Mobile Device service is running.

Local server on http://localhost:9221/ seems to be running but shows just empty list:

[code]

Do you have any ideas what may be going on wrong please?

[2014-11-03 13:14] linkurzweg opened #3 "Blank DevTools window"
When I run the application I can see the open pages of the ios device for debugging, but when I click on them I just get a blank dev tools window like that:

![image](https://cloud.githubusercontent.com/assets/4902517/4882786/e3e95c82-635a-11e4-95a7-6bf55aed50dd.png)

I tried this on Google Chrome 38.0.2125.111, 40.0.2208.0 canary and on Safari 5.1.7
I'm using Windows 8.1 and an iPad with IOS 7.1.

[2014-11-04 20:24] #3 closed, assigned to nobody

[2015-01-01 11:55] #2 closed

[2015-02-13 17:38] past opened #5 "Supporting Windows XP"
I'm trying to build the proxy for Windows XP and I get:

Error	102	error C3861: 'htonll': identifier not found	C:\Users\past\Documents\GitHub\ios-webkit-debug-proxy-win32\ios-webkit-debug-proxy\src\websocket.c	351	1	ios-webkit-debug-proxy

Before I look into this, has anyone tried this before?

[2015-02-14 11:34] artygus commented on #5
@past never tried before, this block of code required for the patch https://github.com/google/ios-webkit-debug-proxy/pull/60 . I'll try to add windows xp support this weekend

[2015-02-14 15:09] artygus commented on #5
@past please try to build with the latests changes

[2015-02-19 10:42] past commented on #5
Thanks for the changes! I tried it, but it didn't work and I got the following errors on XP:

Could not set socket to non-blocking
Unable to subscribe to device add/remove events

This was on an almost vanilla XP installation with an administrator account. Any ideas?

[2015-02-19 11:08] artygus commented on #5
@past eh.. no ideas. i'll setup winXP virtual machine and look more deeply

[2015-02-19 21:30] past commented on #5
I don't have access to Windows XP myself, so I'm asking other folks to test it for me. The first one failed as I mentioned above, but the second one succeeded:

https://github.com/campd/valence/pull/147#issuecomment-75139276

The problem I reported above seems to be configuration-specific.

[2015-02-19 22:40] artygus commented on #5
@past nice to hear, going to close the issue then. if you will experience any problems with this in the future please let me know

[2015-02-19 22:40] #5 closed

[2015-02-28 22:20] elennaro opened #6 "Invalid message _rpc_applicationUpdated"
Relase 2014-02-14
Windows 8.1 cmd (Admin mode), apple iPhone 5, debug mode is on.

[code]

[2015-02-28 22:41] artygus commented on #6
@elennaro I experienced same behaviour with original iwdp utility, one-two replugs solved this for me

[2015-03-01 10:02] elennaro commented on #6
Thanks @artygus, but no luck with replugs.
Maybe I should delete ITunes?
The point is I have so small C/C++/Visual Studio that can't even compile last release (from git) on windows :(

[2015-03-01 10:33] artygus commented on #6
@elennaro what iOS version is running on your device?

[2015-03-01 11:02] elennaro commented on #6
8.1.3 (12B466)

[2015-03-01 11:43] artygus commented on #6
@elennaro trying to reproduce on win 7 with the same iOS version, no luck
i can see this error only when i press the home button leaving Safari Browser, hm..

[2015-03-01 13:13] artygus commented on #6
@elennaro just made a test build that stubs this rpc message, check this out http://sourceforge.net/projects/ios-webkit-debug-proxy-win32/files/test-builds/ios-webkit-debug-proxy-win32-debug-rpc_stub.zip/download

[2015-03-01 18:14] elennaro commented on #6
@artygus thanks.
Now I see nothing but there is no connection to ios-debug-proxy from browser too.
The log is:

[code]
And that's is.
The phone itself is recognized by windows and even iTunes window appears each time I plug it in.

[2015-03-01 18:40] artygus commented on #6
@elennaro may it be a windows firewall issue? could you you disable it for a minute?

[2015-03-02 19:23] elennaro commented on #6
@artygus I've turned off Windows Firewall.
Seems no luck again. The log is exactly as above, however iPhone shows again "Trust this PC" dialogue.

[2015-03-02 19:34] artygus commented on #6
@elennaro when you navigate to localhost:9221 what do you see?

[2015-03-02 19:49] elennaro commented on #6
@artygus
Hm....
For: **http://localhost:9221/**
[code]
and for **http://localhost:9230/**
[code]

[2015-03-02 20:09] artygus commented on #6
@elennaro can you see the shield icon the right of the address bar?

[2015-03-02 20:18] elennaro commented on #6
@artygus Yes. shame on me!!!
Sorry for waiting your time with this last post!
Thank you so much for such good help!
It works smooth and clear!
Should I close this one?

[2015-03-02 20:20] artygus commented on #6
@elennaro haha, no problem
yes, please

[2015-03-02 20:25] #6 closed

[2015-03-06 16:59] Luke-SF opened #7 "Won't run on Windows 8.1"
I extracted the latest release and moved into C:\Program files, but it always says "The program can't start because MSVCR120.dll is missing from your computer".

I have Visual C++ 2005, 2008, 2010, 2012, 2013 installed and still it doesn't run.

[2015-03-06 19:04] artygus commented on #7
@Luke-SF probably you need to install x86 version of microsoft visual c++ 2013 redistributable

[2015-03-09 18:24] zymotik opened #8 "Connects to devices and lists them, but they do not get attached"
Windows 7 64bit
Devices listed:
![devicelist](https://cloud.githubusercontent.com/assets/697029/6561381/d7fd8f6a-c688-11e4-8977-c92bd5817ea2.png)

But not available:
![noconnection](https://cloud.githubusercontent.com/assets/697029/6561401/fc97318c-c688-11e4-9595-4d3b18f8e382.png)

Netstat:
![netstat](https://cloud.githubusercontent.com/assets/697029/6561486/7f460144-c689-11e4-9daf-df95714440e6.pn

[2015-03-10 08:50] artygus commented on #8
@zymotik with the latest iOS, 8.13?
I think i know the reason, will make a test build this evening

[2015-03-10 09:58] zymotik commented on #8
@artygus I've tried this on iOS 8.1.3 iPad 2, iOS 7.0.4 iPhone & iPad Air. Thanks for the quick response!

[2015-03-12 01:35] artygus commented on #8
@zymotik sorry for the delay, here's the build http://sourceforge.net/projects/ios-webkit-debug-proxy-win32/files/test-builds/ios-webkit-debug-proxy-win32-debug_rpcAppUpdated.zip/download

[2015-03-12 08:46] zymotik commented on #8
I've given it a try, but it still doesn't work, sorry! Thanks for your effort on the build!

Here's the log I get when attaching the iPad (iOS 7.0.4):
![output](https://cloud.githubusercontent.com/assets/697029/6614632/347a92e4-c894-11e4-9557-acb14f448463.png)

[2015-03-12 08:49] zymotik commented on #8
I've given it a try, but it still doesn't work, sorry! Thanks for your effort on the build!

Here's the log I get when attaching the iPad (iOS 7.0.4):
![output](https://cloud.githubusercontent.com/assets/697029/6614691/a7059642-c894-11e4-8430-697b91c5276f.png)

[2015-03-12 08:49] zymotik commented on #8
@artygus I've given it a try, but it still doesn't work, sorry! Thanks for your effort on the build!

Here's the log I get when attaching the iPad (iOS 7.0.4):
![output](https://cloud.githubusercontent.com/assets/697029/6614702/c1904b92-c894-11e4-8768-8226937485c1.png)

[2015-03-12 16:06] zymotik commented on #8
I'm an idiot..... while debugging on a Mac, I realised I hadn't got the Web Inspector Enabled:
IOS >>> Settings >>> Safari >>> Advanced >>> Web Inspector

Sorry @artygus !

Now my issue is the insecure connection to localhost from a site that is https. I can fix that on the command line arg hopefully.

[2015-03-12 16:52] artygus commented on #8
@zymotik oh, that easy! it's okay, no worries :)

[2015-03-14 09:23] artygus commented on #7
@Luke-SF did it help?

[2015-03-14 16:11] programmin1 commented on #7
Yes but iTunes won't install, I don't see this error though. Thanks.

[2015-03-23 16:54] #7 closed

[2015-04-29 12:07] Graham-Phillips opened #9 "Proxy/mobile Safari crashes on Pause Script execution"
iPhone 5, iOS 7.0.1
Windows 7 64bit
Using devtools here:
http://chrome-devtools-frontend.appspot.com/static/27.0.1453.93/devtools.html

Clicking the Pause script execution button on the sources page crashes Safari on the device and sometimes the proxy server as well.

[2015-05-05 21:35] artygus commented on #9
@Graham-Phillips I tried to pause script with latest iOS and a few other devtools vers and I can confirm the crash. Gonna investigate this stuff, thanks for the report!

[2015-05-19 08:09] xiaowuming opened #10 "In windows7, how to solve?"
$ ios-webkit-debug-proxy.exe
connect: No error
Could not set socket to non-blocking: No error
Unable to subscribe to device add/remove events

[2015-05-19 09:07] artygus commented on #10
@xiaowuming can you confirm that iTunes (or Apple Mobile Device service) is running?

[2015-05-27 22:49] artygus commented on #10
closing the issue since no reply form OP

[2015-05-27 22:49] #10 closed

[2015-06-17 04:09] Anselz opened #11 "Could not set socket to non-blocking:No error"
How to fix?
Detail: Unable to subscribe to device add/remove events

[2015-06-17 09:15] artygus commented on #11
@Anselz can you confirm that Apple Mobile service is running?
and you can try to run as admin

[2015-07-09 14:42] artygus commented on #11
closing the issue since no reply form OP

[2015-07-09 14:42] #11 closed

[2015-08-25 17:24] DarkDaskin opened #12 "Proxy crashes at connecting to the device (iOS 8.4)"
`NULL` SystemBUID is returned [here](https://github.com/artygus/libimobiledevice/blob/10c30ca26bf924c246043bdfc179aae2ca9be8e3/src/lockdown.c#L748) so the next line crashes with access violation.

The version bundled with [Valence](https://github.com/mozilla/valence/) crashes as well.

No crash occurs with the same device on latest Linux version (though it does not work anyway due to https://githu

[2015-08-26 10:52] artygus commented on #12
thanks for the report, I'll look into the issue

[2015-10-06 18:41] NelsonLamprecht commented on #8
I have the same issue, I have not installed Safari (not sure if that is a requirement). The localhost 9221 shows the device but the console has this error message and the port for the device is refused:
Invalid message _rpc_reportConnectedApplicationList: <dict>
        <key>WIRApplicationDictionaryKey</key>
        <dict>
                <key>PID:569</key>
                <dict>

[2015-10-06 18:49] artygus commented on #8
@NelsonLamprecht thanks for the report, i will look into the issue

[2015-10-07 21:37] artygus commented on #8
@NelsonLamprecht libplist needs update, gonna rebuild stuff in a few days

[2015-10-07 21:39] artygus commented on #9
@Graham-Phillips I'm still not sure if there anything I can do about the issue. You can try to debug with one of the webkit inspectors, I extracted a few versions [here](https://github.com/artygus/webkit-webinspector)

[2015-10-15 09:30] bogo26 opened #13 "It sees the device but it fails to see the content of the page in Safari"
It posts this message in console:
![image](https://cloud.githubusercontent.com/assets/5627060/10509791/d7685344-7337-11e5-9409-e2c95f6abf8f.png)

On localhost:9221:
![image](https://cloud.githubusercontent.com/assets/5627060/10509814/fc816008-7337-11e5-9834-8582ff70f06a.png)

The Apple Mobile Device Service is working.
Tested on iPad 4 (iOS 9.0) and iPad (iOS 8.4.1)

Am I missing something?

[2015-10-15 10:11] artygus commented on #13
@bogo26 libimobiledevice stack need update but I can't do it right now, I'll make a new build in a week or so

[2015-10-15 10:46] bogo26 commented on #13
ok, thanks for the fast response

have a nice day.
Bogdan :D

[2015-10-15 10:53] artygus commented on #8
closing in regard to #13

[2015-10-15 10:53] #8 closed

[2015-11-03 05:28] ThiruOnNet commented on #2
I have successfully used ios-webkit-debug-proxy-win32 before(with iOS 8). But with the latest version of iOS 9.1, it is not working. It is throwing the below error.

Could not start com.apple.webinspector!: No error
Unable to attach <UID> inspector

Debug information for the same is as follows:

D:\5. Tech\iOS WebKit Debug Proxy Win32\ios-webkit-debug-proxy-win32>ios-webkit-
debug-proxy.exe -d
ss.

[2015-11-03 09:02] artygus commented on #2
@ThiruOnNet I'm working on the issue and I'll let you know when the new build will be ready, I'm almost there. Hopefully I'll manage to make a new build this week

[2015-11-03 09:05] ThiruOnNet commented on #2
Wow! great.. I would like to be an independent tester for that change.

[2015-11-06 22:45] artygus commented on #13
@bogo26 please try this [build](http://sourceforge.net/projects/ios-webkit-debug-proxy-win32/files/test-builds/ios-webkit-debug-proxy-mingw32.zip/download)

[2015-11-06 22:46] artygus commented on #8
@NelsonLamprecht check out this [build](http://sourceforge.net/projects/ios-webkit-debug-proxy-win32/files/test-builds/ios-webkit-debug-proxy-mingw32.zip/download)

[2015-11-06 22:47] artygus commented on #12
@DarkDaskin I guess it should be fixed with the latest libimobiledevice, check out this [build](http://sourceforge.net/projects/ios-webkit-debug-proxy-win32/files/test-builds/ios-webkit-debug-proxy-mingw32.zip/download)

[2015-11-06 22:50] artygus commented on #2
@ThiruOnNet check out latest [build](http://sourceforge.net/projects/ios-webkit-debug-proxy-win32/files/test-builds/ios-webkit-debug-proxy-mingw32.zip/download)

[2015-11-07 03:48] ThiruOnNet commented on #2
I'm on a week long vacation. I will try to get some time and let you know.
On 7 Nov 2015 04:20, "Arty Gus" <notifications@github.com> wrote:

[2015-11-16 06:04] ThiruOnNet commented on #2
I tried the latest build and still there are some issues. localhost:9221 is listing the iPad. When I clicked the link localhost:9222, nothing is turning up.

D:\5. Tech\iOS WebKit Debug Proxy Win32\Latest Nov16>ios_webkit_debug_proxy.exe
-d
ss.add_server_fd(196)
Listing devices on :9221
ss.add_fd(424)
ss.add_server_fd(432)
ss.remove_server_fd(432)
ss.recv fd=424 len=910
ss.add_server_fd(460)
ss.ad

[2015-11-17 14:08] NelsonLamprecht commented on #8
I tried this build you posted: http://sourceforge.net/projects/ios-webkit-debug-proxy-win32/files/test-builds/ios-webkit-debug-proxy-mingw32.zip/download where I am able to see the 9221 listing of my iphone. Clicking on 9222 does nothing though and chrome reports the connection refused. I used the -d flag when starting the proxy and when I click on the 9222 port, the console prints this but the co

[2015-11-17 19:35] artygus commented on #2
Thanks for testing! I tested it with win XP only. I'm on vacations right
now, gonna investingate this issue the next week.

On Monday, November 16, 2015, ThiruOnNet <notifications@github.com> wrote:

[2015-12-01 09:31] artygus commented on #8
@NelsonLamprecht too bad, I tested this build with WinXP only on my virtualbox vm. I'll let you know when I fix the problem, btw what win ver do you use?

[2015-12-14 14:25] DitlevHB commented on #8
I am experiencing the same issue with iPhone iOS 9.2
I'm not able to access the device at all with the stable build.

I can see the device on localhost:9221 using the test-build you posted 6th of November and the connection keeps hanging, when clicking on the listed device.

I'm using windows 10.

[2015-12-16 00:04] liabru commented on #13
Same problem, I now get the following using the new build:

    Listing devices on :9221
    Unable to connect to iPhone (2) (...)
      Please verify that Settings > Safari > Advanced > Web Inspector = ON

I have enabled Web Inspector, but the message still shows. I'm on Windows 10 and iOS 9.2.

[2016-01-09 16:42] artygus commented on #13
@bogo26 @liabru just fixed the issue with hanging sockets, please checkout updated [build](http://sourceforge.net/projects/ios-webkit-debug-proxy-win32/files/test-builds/ios-webkit-debug-proxy-mingw32.zip/download)

[2016-01-09 16:43] #9 closed

[2016-01-09 16:45] artygus commented on #8
@DitlevHB @NelsonLamprecht just fixed the issue with hanging sockets, please checkout updated [build](http://sourceforge.net/projects/ios-webkit-debug-proxy-win32/files/test-builds/ios-webkit-debug-proxy-mingw32.zip/download)

[2016-01-11 07:33] DitlevHB commented on #8
Great thanks,

I can now click on the device and see the list of available pages.
Although when i click on on of the available pages, i get a blank page with the following:

Unable to connect to chrome-devtools-frontend.appspot.com:80

Is the service down, or is this another issue further in the flow?

[2016-01-11 08:49] artygus commented on #8
@DitlevHB oh yeap, that's some windows specific stuff, I'll look into the issue. I rarely use built-in frontend mechanism because it's slow as heck, for now you can use https://chrome-devtools-frontend.appspot.com/static/27.0.1453.93/devtools.html?ws=localhost:9222/devtools/page/1

[2016-01-11 09:01] DitlevHB commented on #8
@artygus That works!

Thanks a lot for the adjustments, it works with the url you provided.

[2016-02-03 06:16] fakhrulhilal commented on #13
I tried the latest build (above comment) and now it works as expected. Very thanks. It's really helpful.

[2016-02-03 11:29] artygus commented on #13
@fakhrulhilal you're welcome

[2016-02-28 20:03] #13 closed

[2016-02-28 20:03] #12 closed

[2016-02-28 20:07] artygus commented on #2
@ThiruOnNet I managed to fix this a few months ago, just forgot to ping back, here's the fixed build http://sourceforge.net/projects/ios-webkit-debug-proxy-win32/files/test-builds/ios-webkit-debug-proxy-mingw32.zip/download

[2016-03-24 17:44] Jimadine opened #14 "Using with Chrome Devtools gives a 404"
Is it possible to debug pages with my locally installed Chrome Devtools? I have this working OK with the default front-end but when I try to use

ios-webkit-debug-proxy -f chrome-devtools://devtools/bundled/inspector.html

I visit http://localhost:9221, follow the link through to my iPad, click the inspectable page and then see a page:

In address bar: http://localhost:9222/devtools/inspector.html

[2016-03-24 19:50] artygus commented on #14
@Jimadine yes, it's incorrect
try to use `ws=localhost:9222/devtools/page/1` instead of `host=localhost:9222&page=1`

[2016-03-25 14:01] Jimadine commented on #14
Apologies, I should have been clearer. When I said:

I meant that that was the address that showed up in the address bar on the 404 page. I did try changing the address in the address bar to the one that you suggest, but I am almost certain I got a 404 page too.

I also tried:

ios-webkit-debug-proxy -f chrome-devtools://devtools/bundled/inspector.html?ws=localhost:9222/devtools/page/1

...based u

[2016-03-29 09:36] Jimadine commented on #14
@artygus I tried to get it to work with local DevTools again, but unfortunately it didn't work. Here are two screenshots:

![2016-03-29 10_29_04-error 404 not found](https://cloud.githubusercontent.com/assets/7747515/14103781/9618a904-f599-11e5-97b1-37306c5fd9b4.png)

![2016-03-29 10_30_02-error 404 not found](https://cloud.githubusercontent.com/assets/7747515/14103778/90d94836-f599-11e5-85d5-0ab6

[2016-04-04 13:29] jasono89 opened #15 "Invalid message error"
Hi,

When I use the ios webkit debug proxy on Windows 7 I receive following error, when I plug in the iPad:
Invalid message _rpc_reportConnectedApplicationList: <dict>
        <key>WIRApplicationDictionaryKey</key>
        <dict>
                <key>PID:66</key>
                <dict>
                        <key>WIRApplicationIdentifierKey</key>
                        <key>PID:66</key>

[2016-04-04 15:00] artygus commented on #15
Hi Jason, please try mingw32 build, you can find a link in the readme. But
it only works with external  frontend, see '-f' parameter

On Monday, April 4, 2016, jasono89 <notifications@github.com> wrote:

[2016-04-04 20:17] artygus commented on #14
@Jimadine did you try to use remote fornte end tools, e.g. `-f http://chrome-devtools-frontend.appspot.com/static/27.0.1453.93/devtools.html`?

[2016-04-04 20:38] Jimadine commented on #14
Yes, and that worked for me in the end.

The reason I was trying to get the local Chrome front-end working was because — although I could reach the remote FE — it wasn't allowing me to navigate the DOM as I'm used to in Chrome Devtools. I later worked out that I could use the arrow keys to navigate up and down the DOM tree as an alternative to (non-working) mouse clicks.

Thanks again for your hel

[2016-04-05 19:22] jasono89 commented on #15
Great. Works like a charm...
Thank you!!

[2016-04-09 09:39] #15 closed

[2016-04-09 09:43] artygus commented on #14
@Jimadine oh, that's too bad. Chrome dev protocol went too far from what Safari has and latest dev tools wouldn't show you styles at all (at least it didn't work 3-4 months ago), I suggest using dev tools extracted from webkit https://github.com/artygus/webkit-webinspector

[2016-04-11 11:33] Jimadine commented on #14
Thanks for the tip. I've done the debugging I needed to but I'll certainly check out your webkit-webinspector the next time I use ios-webkit-debug-proxy-win32.

[2016-04-11 11:33] #14 closed

[2016-04-15 21:49] anifox2 opened #17 "Unable to connect to chrome-devtools-frontend.appspot.com:80"
Everytime I try to connect to Safari on my iPhone 6S, I can see my device in the list and my open tabs but when i press a tab, I get this error message:

Unable to connect to chrome-devtools-frontend.appspot.com:80

I am running Chrome 50 on Windows 8.1 and using ios-webkit-debug-proxy-mingw32

[2016-04-15 22:20] artygus commented on #17
@anifox2 mingw build is not production ready yet, please try "-f http://chrome-devtools-frontend.appspot.com/static/27.0.1453.93/devtools.html". Chrome dev protocol went too far from what Safari has and latest dev tools wouldn't show you styles at all (at least it didn't work 3-4 months ago), I suggest using dev tools extracted from webkit https://github.com/artygus/webkit-webinspector

[2016-04-16 12:09] anifox2 commented on #17
I have already tried https://github.com/artygus/webkit-webinspector and I'm just getting a white page. Using "-f http://chrome-devtools-frontend.appspot.com/static/27.0.1453.93/devtools.html" gives me the same error message: Unable to connect to chrome-devtools-frontend.appspot.com:80

[2016-04-16 12:12] anifox2 commented on #17
https://github.com/artygus/webkit-webinspector just crashes on start now when trying again. Here is the error message: events.js:141
      throw er; // Unhandled 'error' event
      ^

Error: listen EADDRINUSE :::8080
    at Object.exports._errnoException (util.js:870:11)
    at exports._exceptionWithHostPort (util.js:893:20)
    at Server._listen2 (net.js:1234:14)
    at listen (net.js:1270:10)

[2016-04-16 14:05] artygus commented on #17
@anifox2 hm, then you cat try to run `ios_webkit_debug_proxy -F` and then navigate to `https://chrome-devtools-frontend.appspot.com/static/27.0.1453.93/devtools.html?ws=localhost:9222/devtools/page/1` in your browser

[2016-04-16 18:12] anifox2 commented on #17
1. If I use the normal "ios-webkit-debug-proxy-win32" i get this error when starting it with "ios-webkit-debug-proxy.exe -F":
Invalid message _rpc_reportConnectedApplicationList: <dict>
        <key>WIRApplicationDictionaryKey</key>
        <dict>
                <key>PID:409</key>
                <dict>
                        <key>WIRApplicationIdentifierKey</key>
                        <key>PI

[2016-04-16 18:17] anifox2 commented on #17
In both cases, https://chrome-devtools-frontend.appspot.com/static/27.0.1453.93/devtools.html?ws=localhost:9222/devtools/page/1 is just a blank page with a grey bar at the top with 3 unclickable buttons and a light grey bar at the bottom except the errors in the console.
![Chrome](https://cloud.githubusercontent.com/assets/2982688/14582838/2e4516b6-0410-11e6-8dcc-df75ee5b24c1.png)
![Developer cons

[2016-04-16 19:39] artygus commented on #17
@anifox2 just click on the shield icon https://github.com/artygus/ios-webkit-debug-proxy-win32#troubleshooting

[2016-04-18 17:11] anifox2 commented on #17
That worked! Thank you!

[2016-04-18 17:11] #17 closed

[2016-05-12 14:54] staabm opened #18 "docs: how to install instructions"
do you provide some information on how to setup the debug proxy on windows?

I just downloaded the msvc release build from SourceForge (linked from the readme), extracted it and started the ios-webkit-debug-proxy.exe.

It errors in a cmd windows:
![proxy](https://cloud.githubusercontent.com/assets/120441/15218885/15e34456-1862-11e6-828e-974e49d1b5ca.png)

My workstation is already configured to de

[2016-05-12 18:55] artygus commented on #18
@staabm there's no specific about that, except you need Apple Mobile Device service running, current version is a bit outdated, please try [mingw32 build](http://sourceforge.net/projects/ios-webkit-debug-proxy-win32/files/test-builds/ios-webkit-debug-proxy-mingw32.zip/download)

[2016-05-17 18:11] littleguga commented on #18
@staabm I also have win7x64, it's okay with me.

* Connect iPhone to laptop with cable
* Set ```Settings > Safari > Advanced > Web Inspector = ON```
* start ```ios-webkit-debug-proxy -f chrome-devtools://devtools/bundled/inspector.html```
* navigate to http://localhost:9221/

[2016-05-17 20:08] #18 closed

[2016-05-18 08:43] littleguga opened #20 "iphone 6, ios 9.3.1 doesn't work"
[code]

In http://localhost:9221/ displayed:
[code]

But localhost:9222: ERR_CONNECTION_REFUSED

win7x64

[2016-05-18 13:50] artygus commented on #20
please use http://sourceforge.net/projects/ios-webkit-debug-proxy-win32/files/test-builds/ios-webkit-debug-proxy-mingw32.zip/download

[2016-05-20 14:11] littleguga commented on #20
@artygus it doesn't help.

I tried: `ios-webkit-debug-proxy -f chrome-devtools://devtools/bundled/inspector.html`
`chrome-devtools://devtools/bundled/inspector.html?host=localhost:9222&page=1`
Is empty: no elements, no console errors or something else.

[2016-05-20 14:15] #20 closed

[2016-05-25 16:42] fredbutters opened #21 "Invalid message _rpc_reportConnectedApplicationList:"
Windows 10
Firefox Developer Edition
iPad
Trying to follow along with this tutorial: http://johnnyzone.com/2016/02/debug-a-website-in-ios-safari-on-windows/

I saw other issues like this reported, so I downloaded and ran this one:
http://sourceforge.net/projects/ios-webkit-debug-proxy-win32/files/test-builds/ios-webkit-debug-proxy-mingw32.zip/download

That appears to run, I see a command window w

[2016-06-17 09:55] roryaherne opened #22 "Not working on iOS10"
Just a heads up. I tried with mingw32 and win32.

 **mingw32**

`Listing devices on :9221
Could not connect to lockdownd. Exiting.: No error
Unable to attach 5629881f4f4f7807e05d084f6c2e8916bb32549e inspector`

**win32 (1st level in folder)**

**win32 (second level in folder)**

`Could not connect to lockdownd. Exiting.: No error
Unable to attach 5629881f4f4f7807e05d084f6c2e8916bb32549e inspector`

[2016-06-24 20:52] artygus commented on #22
hi @roryaherne thanks for the report, iOS 10 is not supported yet by the original utility the issue is already here https://github.com/google/ios-webkit-debug-proxy/issues/144

[2016-06-24 20:56] #22 closed

[2016-07-08 00:10] auchenberg opened #23 "Distribute binaries on NPM"
The Visual Studio team is apparently already shipped an version of `ios-webkit-debug-proxy.exe` in the [vs-libimobile](https://www.npmjs.com/package/vs-libimobile) NPM package.

It would be helpful for the broader community to be able to download the latest binaries from an NPM package, much similar to how we have chosen to distribute the [edge-diagnostics-adapter](https://github.com/Microsoft/edg

[2016-07-08 00:20] masahirotanaka commented on #23
Sounds like a very good idea. We are also embedding the binary into our [npm library](https://github.com/monaca/monaca-lib), but I'd like to separate this out to an external dependency.

In that case, I hope the original ios-webkit-debug-proxy (for macOS) to follow the same manner though.

[2016-07-08 00:21] artygus commented on #23
@auchenberg cool! is there any official libimobiledevice VS port? because it's quite complicated for me to look for another fresh libimobiledevice VS fork each time something gets updates and incorporate those changes. For now I decided to go with mingw32 builds. libimobiledevice HEAD builds successfully with mingw and it does the job with much less hassle

[2016-07-08 00:32] auchenberg commented on #23
@artygus I'm not aware of a "special VS" build of `libimobiledevice`, but I've seen you mentioning Visual Studio in a few issues. It's my understanding that VS is relying on the [vs-libimobile](https://www.npmjs.com/package/vs-libimobile) package, which contains `libimobiledevice.dll`.

Can you enlighten me on this special VS build?

Generally I'd like to depend on as many regular builds as possib

[2016-07-08 10:38] artygus commented on #23
@auchenberg honestly I'm not expert too, and I don't even use windows for the dev anymore. What I was trying to say is that building ios-webkit-debug-proxy and libimobiledevice with visual studio is complicated because there's no official support for Visual Studio in libimobiledevice, you can see a few pulls here https://github.com/libimobiledevice/libimobiledevice/pulls but none of them made it t

[2016-07-08 18:27] auchenberg commented on #23
I just had a chat with the engineer building the package, and it was compiled using MinGW.

[2016-07-08 18:29] artygus commented on #23
@auchenberg thanks!

[2016-07-14 14:14] patrickracicot commented on #21
+1

[2016-07-29 14:30] MigFerreira commented on #21
+1

[2016-08-01 11:03] artygus commented on #22
@roryaherne please check out this build https://sourceforge.net/projects/ios-webkit-debug-proxy-win32/files/test-builds/ios-webkit-debug-proxy-mingw32-ios10.zip/download

[2016-09-15 21:48] jshanman opened #24 "iOS10 support"
When I try to connect to an iOS10 device, I get the following error:

`
Listing devices on :9221
Could not connect to lockdownd. Existing.: No error
Unable to attach {$hash} inspector
`
My environment:
Windows 10
Google Chrome 52.0.2743.116
iTunes 12.5.1.21 (installed today & rebooted machine)

iPhone SE mllx2ll/a
iOS 10.0.1 14a403
Safari 602.1.5

I downloaded this binary and have run it as a regu

[2016-09-15 22:16] artygus commented on #24
Hi @jshanman there's a similar issue #22, to sum up please check the out another [build](https://sourceforge.net/projects/ios-webkit-debug-proxy-win32/files/test-builds/ios-webkit-debug-proxy-mingw32-ios10.zip/download)

[2016-09-15 22:19] jshanman commented on #24
Hi @artygus thank you for the reply.  That is the build I tested with and linked above.  The error I'm reporting is against that build.  I opened a new issue since that one was closed.

[2016-09-15 22:35] artygus commented on #24
@jshanman oh sorry didn't read issue to the end, I'll take a look 👍

[2016-09-17 03:41] ShinyLeee commented on #24
Faced the same issues.

[2016-09-20 23:27] artygus commented on #24
@jshanman looks like libimobiledevice needs to be updated to master version to overcome the issue, I'll make another build this week

[2016-09-29 10:24] Murmand commented on #24
Same issue here, how does it look with new build?

[2016-09-29 15:58] ChristianBcn commented on #24
Same for me... I'm looking forward this!!

Thanks

[2016-09-29 16:00] artygus commented on #24
my build env messed up, I'll take another try this week

[2016-09-29 16:08] ChristianBcn commented on #24
I appreciate your help :)

[2016-10-05 11:02] davidpede commented on #24
Same issue. Any news on when iOS 10 support is coming?

[2016-10-05 18:04] artygus commented on #24
@davidpede don't have a spare hour to make another build, I'll post here when it's done

[2016-10-25 20:07] strideynet commented on #24
Any news??

[2016-11-01 13:45] mikejohnpettitt commented on #24
Interested to know if there any updates.

[2016-11-01 15:49] artygus commented on #24
few more days guys, almost there

[2016-11-03 04:45] Ayverie commented on #24
Also facing this issue. Was starting to wonder if I'm just cursed... Thank you for working on update!

[2016-11-05 11:45] RealMakAttak opened #25 "Cannot connect - please help"
Hello all,

I am desperately trying to remotely debug safari and other browsers from my iphone.

I followed these instructions: http://johnnyzone.com/2016/02/debug-a-website-in-ios-safari-on-windows/

 I downloaded and installed itunes, my device is recognised. I turned developer tools on my phone on, opened up a tab, started webide in firefox and click the option "Safari, Firefox, and other WebVi

[2016-11-05 11:54] artygus commented on #25
hi @RealMakAttak does device run on ios 10?

[2016-11-05 11:57] RealMakAttak commented on #25
Arty,

Thank you for your prompt reply.

It's an iphone 5 running iOS 10.1.1

I'm on a windows machine with 10 running.

Thanks

[2016-11-05 12:06] artygus commented on #25
@RealMakAttak I'm working on the iOS10 support #24 issue please look for updates in this thread

[2016-11-05 12:06] #25 closed

[2016-11-05 12:15] RealMakAttak commented on #25
Thanks Arty, will do

[2016-11-11 00:28] artygus commented on #24
hey guys, please check out [new build](https://sourceforge.net/projects/ios-webkit-debug-proxy-win32/files/test-builds/ios-webkit-debug-proxy-win64.zip/download)

[2016-11-11 00:30] artygus commented on #21
please checkout [new build](https://sourceforge.net/projects/ios-webkit-debug-proxy-win32/files/test-builds/ios-webkit-debug-proxy-win64.zip/download)

[2016-11-11 10:02] ChristianBcn commented on #24
Thank you very much, artygus!! We appreciate your work on, it works really good!!

[2016-11-11 10:58] fred-perkins commented on #24
Awesome stuff. Got it working with chrome dev tools. Only thing i noticed was the "Console" & "Network" tabs aren't functional

[2016-11-11 11:50] artygus commented on #24
@fred-perkins yeah, safari and chrome tools are getting farther in terms of protocols they're using and frontend tools implementations, but it's beyond the scope of the utility. You could try using safari webinspector on windows machine, e.g. using an [extracted dev tools](https://github.com/artygus/webkit-webinspector) from webkit repo

[2016-11-11 11:57] fred-perkins commented on #24
@artygus Makes alot of sense. Got it working using the webkit inspector.  Thanks for the help!

[2016-11-11 14:47] #24 closed

[2016-12-21 23:04] ethan-deng commented on #22
This build works for me for iOS 10.

https://sourceforge.net/projects/ios-webkit-debug-proxy-win32/files/test-builds/ios-webkit-debug-proxy-win64.zip/download

[2017-01-24 13:36] bmvbab opened #26 "iOS 10 apps"
I was able to see safari elements on chrome with ease. Can I inspect webview contents of hybrid apps?

[2017-01-24 13:41] artygus commented on #26
hi @bmvbab please checkout this issue https://github.com/google/ios-webkit-debug-proxy/issues/110

[2017-01-24 13:41] #26 closed

[2017-01-24 14:38] bmvbab commented on #26
Arty, Im using a debug build of the app. Is that not enough? Will only
pushing it from XCode work?

On Tue, Jan 24, 2017 at 7:11 PM, Arty Gus <notifications@github.com> wrote:

--
----------------------------------------------
"Why is it that every time I'm with you, makes me believe in magic?"

[2017-01-24 22:12] artygus commented on #26
@bmvbab should be enough, just make sure that webinspector is turned on on the device and you're using latest [build](https://sourceforge.net/projects/ios-webkit-debug-proxy-win32/files/ios-webkit-debug-proxy-win64.zip/download)

[2017-01-24 23:27] auchenberg commented on #23
@artygus What are your principles about versioning and version numbers? I'd like to get NPM build going and I could grab the latest SourceForge files, dump them into https://github.com/auchenberg/ios-webkit-debug-proxy-win32-dist, and make a NPM publish.

For that to work I need semantic versioning and a way to mark each release as a tag/github release

[2017-01-25 00:17] artygus commented on #23
last time I did x64 build it was from https://github.com/google/ios-webkit-debug-proxy/commit/0b2770cd941403325a060a43617c434426cdfe7b. x32 build based on https://github.com/google/ios-webkit-debug-proxy/commit/fec01df5d0c637e3ac52c3a8c1ad4efa0862f3d1

[2017-01-25 00:25] auchenberg commented on #23
Okay, but we need to coordinate the binary releases with https://github.com/google/ios-webkit-debug-proxy/releases

Same goes for the win32 project, which doesnt seem  to use tags/releases, and therefor makes it hard to publish versioned binaries. https://github.com/artygus/ios-webkit-debug-proxy-win32/releases

[2017-01-25 17:10] artygus commented on #23
@auchenberg these commits correspond to 1.7.0 and 1.6.0 versions. Those were built with msys2/mingw32(64).

It would be more precise to call "win32" project a "vs" project, it's based more or less on 1.5.0. and I have no further intention to keep it up to date.

[2017-01-25 19:44] auchenberg commented on #23
That would be wonderful. I think a good start would be to use Git tags for each binary release, which would make publishing much easier.  Can you create two tags for 1.7.0 and 1.6.0?

At this point in time many projects relies on their own custom builds and we should avoid this by providing centralized builds. Happy to help to get the setup going.

[2017-03-06 11:52] webmanAv opened #27 "align code to 1.7.1"
Hi,
Do you plan to align windows code to match
https://github.com/google/ios-webkit-debug-proxy/releases/tag/1.7.1
Thanks,
Aviram

[2017-03-06 11:54] artygus commented on #27
Hi @webmanAv I'm working on mingw branch of ios-webkit-debug-proxy, so windows binaries would always be up to date. I'm not planning to support VS project

PS. I hope to get it done by the end of the month

[2017-03-06 14:01] webmanAv commented on #27
Thanks, it is absolutely great step.
I'm looking forward for it.
Thanks,
 Aviram

[2017-03-06 14:01] #27 closed

[2017-03-14 10:15] galziv commented on #17
Hi, the solution worked for me, but the devtool is very old and doesn't have websocket tab in the network panel which I really need.
Which other version than '27.0.1453.93' is valid?

[2017-03-14 10:31] artygus commented on #17
hi @galziv check out alternatives to chrome devtools here https://github.com/google/ios-webkit-debug-proxy#devtools-note, if you're stuck with chrome dev tools, you could try http://frontend.chrome-dev.tools/serve_rev/@198714/inspector.html

[2017-03-14 10:53] galziv commented on #17
thanks for the prompt answer! i'll take a look

[2017-03-14 23:04] auchenberg opened #28 "ios-webkit-debug-proxy/ as submodule?"
Looking at https://github.com/artygus/ios-webkit-debug-proxy-win32/tree/master/ios-webkit-debug-proxy, it doesnt look like this win32 fork has made any changes to https://github.com/google/ios-webkit-debug-proxy.

Could the codebase be referenced as a submodule for easier upgrades?

[2017-03-17 00:49] artygus commented on #28
@auchenberg I'm finally working on mingw branch https://github.com/google/ios-webkit-debug-proxy/tree/mingw64. This project was not well-written, I hope I'll do better this time

[2017-03-17 01:29] auchenberg commented on #28
Cool! Let me know if I can help in any way @artygus

[2017-04-06 14:53] jhd124 opened #29 "Is there any support for screencasting?"

[2017-04-06 15:06] artygus commented on #29
Hi @jhd124, please check out https://github.com/RemoteDebug/remotedebug-ios-webkit-adapter

[2017-04-08 19:50] #29 closed

[2017-04-19 10:14] artygus commented on #28
google/ios-webkit-debug-proxy#193 is finally merged in

[2017-04-19 10:14] #28 closed

[2017-04-19 10:17] artygus commented on #21
should be fixed, the latest build available via scoop now, for reference check out https://github.com/google/ios-webkit-debug-proxy/blob/master/README.md

[2017-04-19 10:17] #21 closed

[2017-08-02 13:54] laurennlam opened #30 "Doesn't recognize iPhone with iOS 10.0"
I tried to debug a web page from an apple device (iPhone with iOS 10.3) on windows by using WEBIde from Firefox. It works well with an iPhone with an iOS of 9.1 but doesn't work with an iPhone with iOS 10.3.
Ad RemoteDebug/remotedebug-ios-webkit-adapter describe, it seems that :

Will you have a project to update your executable ? Or do you have an other solution ?

[2017-08-02 15:19] artygus commented on #30
the information in README is incorrect, latest win binaries are up to date and available via scoop on windows, or directly by [link](https://downloads.sourceforge.net/project/ios-webkit-debug-proxy-win32/v1.7.1/ios-webkit-debug-proxy-1.7.1-x64-bin.zip)

[2017-08-02 15:19] #30 closed

[2017-08-03 06:40] laurennlam commented on #30
Thanks @artygus !

[2017-09-26 12:45] yostyle opened #31 "Could not connect to iOS 11 device"
Hello,
I use version 1.7.1. It works well with iOS 10.
When I plug an iOS 11 device, I have this error in console :
[code]

[2017-09-27 10:27] artygus commented on #31
you need a fresh version of the utility, it is available [here](https://github.com/google/ios-webkit-debug-proxy/releases)

[2017-09-27 10:27] #31 closed

[2017-10-04 10:23] mhofer1976 opened #32 "Can't connect to IOS 11?"
I had this working already before i upgraded my IPad to IOS 11.

Now i'm getting:
Listing devices on :9221
Could not connect to lockdownd. Exiting.: No error
Unable to attach 58d2763ce8d6cd7f1565c44a31f5b5c613c3fdd0 inspector

Would appreciate the help to get this going again.

[2017-10-04 10:26] artygus commented on #32
hi @mhofer1976, do you use latest version from scoop? if not, please use https://github.com/google/ios-webkit-debug-proxy/releases to obtain windows binaries.

TODO: update readme to point to original iwdp page to avoid confusion in the future

[2017-10-04 10:26] #32 closed

[2017-10-04 10:29] mhofer1976 commented on #32
Wow - that's what i call speed!

YES, it works like a charm. THANKS  A LOT artygus!

[2017-11-30 20:22] artygus commented on #23
https://github.com/google/ios-webkit-debug-proxy/issues/136

[2017-11-30 20:22] #23 closed